/**
 * @file
 * Styles for uc_cart module.
 */

.order-review-table {
  border: solid 1px #999;
  font-size: .9em;
  line-height: 1.4em;
  margin: auto;
  width: auto;
}

.order-review-table td {
  padding-bottom: 0.2em;
  padding-top: 0.1em;
  vertical-align: top;
}

.order-review-table .pane-title-row {
  background-color: #ddd;
  border: solid 1px #999;
  font-weight: bold;
  padding: .5em 1em;
  text-align: center;
}

.order-review-table .title-col {
  font-weight: bold;
  padding-left: 3em;
  text-align: right;
  white-space: nowrap;
}

.order-review-table .data-col {
  padding-right: 3em;
}

.order-review-table .row-border-top {
  border-top: solid 1px #999;
}

.order-review-table .row-border-bottom {
  border-bottom: solid 1px #999;
}

.order-review-table .review-button-row {
  background-color: #ddd;
  border: solid 1px #999;
}

.order-review-table .review-button-row td {
  padding-top: 1em;
  text-align: right;
}

.order-review-table .review-button-row div,
.order-review-table .review-button-row form {
  display: inline;
}

/* I cannot testify for any of the data below.. it's a hodge podge. */

.next-button {
  margin-top: 1em;
  text-align: right;
}

#uc-cart-view-form table {
  width: 100%;
}

#uc-cart-view-form td {
  vertical-align: top;
}

#uc-cart-view-form img {
  padding-right: .8em;
  float: left;
}

.address-book-icon {
  position: relative;
  margin-left: 2px;
  top: 2px;
}

/**
 * CSS rules for the cart form at /cart.
 */
#uc-cart-view-form th {
  white-space: nowrap;
}

#uc-cart-view-form td.desc {
  width: 25%;
  position: inherit;
}

#uc-cart-view-form td.total,
#uc-cart-view-form td.subtotal {
  white-space: nowrap;
}

#uc-cart-view-form .form-actions {
  margin-top: 0;
  text-align: right;
}

#uc-cart-view-form .form-actions a {
  float: left;
  margin: .5em;
}

#uc-cart-view-form #edit-continue-shopping {
  float: left;
  margin-left: .5em;
}

#uc-cart-view-form .form-actions input {
  vertical-align: middle;
}

.uc-cart-checkout-button {
  float: right;
  clear: right;
}

.uc-cart-checkout-button-separator {
  text-align: center;
}

/**
 * CSS rules for the cart review table.
 */
td.qty {
  text-align: center;
  white-space: nowrap;
}

td.price {
  text-align: right;
  white-space: nowrap;
}

td.products {
  width: 100%;
}

td.subtotal {
  text-align: right;
}

#subtotal-title {
  font-weight: bold;
}

/**
 * CSS rules for the default checkout panes.
 */
.uc-cart-checkout-form .uc-store-address-field .form-item label {
  padding: 5px 6px 6px;
}

.uc-cart-checkout-form .form-item {
  margin-bottom: 2px;
  margin-top: 2px;
}

/**
 * CSS rules for the bottom of the checkout form at /cart/checkout.
 */
.uc-cart-checkout-form .form-actions {
  text-align: right;
}
